<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block bg-dark text-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a clas="nav-link" routerLink="../student-profile">Profile</a>
          </li>

          <li class="nav-item">
            <a clas="nav-link" routerLink="../student-enrolledcourse">
              Courses
            </a>
          </li>
          <li class="nav-item">
            <a clas="nav-link" routerLink="../student-enrollcourse">
              New Courses
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
