<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block bg-dark sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a clas="nav-link active" routerLink="../teacher"> Teachers </a>
          </li>

          <li class="nav-item">
            <a clas="nav-link" routerLink="../course"> Courses </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
