<h4 class="ms-auto">Please Check Before UnEnroll</h4>
<div class="container">
  <div class="row">
    <div class="row">
      Course Id: {{ course.courseId }}

      <div class="row">CourseName: {{ course.courseName }}</div>

      <div class="row">Teacher Id : {{ course.teacherId }}</div>
      <div class="row">Num of Slot/day: {{ course.numOfSlot }}</div>
      <div class="row">Weeks No: {{ course.numOfClassPerWeek }}</div>
      <button type="submit" class="btn btn-danger my-1" (click)="unenrollCourse(course.courseId)">Unenroll</button>
    </div>
  </div>
</div>
