<div class="container">
  <div class="row">
    <h4>Log In To Your Account</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      
      <div class="col-6" style="text-align:left; margin-left: 10cm;">
        <label> Email</label>
        <input type="text" class="form-control" formControlName="email" />
        <label>Password</label>
        <input type="password"  class="form-control" formControlName="password" />
        <div>
        <button type="submit" class="btn btn-success">Login </button>
      </div>
    </div>
    </form>
  </div>
</div>



